.cardContainer {
    width: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    position: relative;
    width: 35rem;
    height: 41rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px 15px;
    border-radius: 12px;
    backdrop-filter: blur(30px);
    background-color: rgba(28, 28, 28, 0.758);
    border: 1px solid rgba(255, 255, 255, 0.089);
    cursor: pointer;
}

.name, .position, .class, .email {
    color: white;
}

.funfact {
    background: linear-gradient(90deg, #71e0ff, #d6abff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.profilePicture {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.minmaxContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.min, .max {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0px 25px;
    gap: 6px;
}

.max {
    align-items: flex-start;
    border-left: 2px solid white;
}

.majorHeading, .hometownHeading, .major, .hometown {
    color: white;
}

.topRightButton, button {
    font-size: 17px;
    padding: 0.5em 2em;
    border: none;
    background: dodgerblue;
    color: white;
    border-radius: 4px;
}

button:hover {
    background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
}

button:active {
    transform: translate(0em, 0.2em);
}

.profileImageContainer {
    width: 10rem;
    height: 10rem;
    border-radius: 10%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profilesContainer, .sectionContainer {
    position: relative;
    width: 75vw;
    padding: 15rem;
    border-radius: 8px;
    margin: 0 auto;
    padding-top: 7rem;
    border-top: 1px solid rgba(255, 255, 255, 0.089);
}

.leadershipHeader, .headerRight, .headerLeft {
    font-family: 'Source Code Pro', monospace;
    color: white;
    margin-bottom: 1rem;
}

.modalBackground {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modalContent {
    max-height: 80vh;
    overflow-y: auto;
    width: 90%;
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.animate-fadeIn {
    animation: fadeIn 1s forwards;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
    .card {
        width: 90%;
        height: auto;
        padding: 15px;
    }

    .name, .position, .funfact, .class, .email {
        font-size: 0.9em;
    }

    .min, .max {
        width: 100%;
        padding: 0 15px;
    }

    .max {
        border-left: none;
    }

    .sectionContainer, .profilesContainer {
        width: 90vw;
        padding: 10px;
        padding-top: 3rem;
        
    }

    .headerRight, .headerLeft {
        font-size: medium;
        top: 2rem;
        right: 10px;
        left: 10px;
    }

    .modalContent {
        width: 80%;
    }
}
